<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %>.</p>

Dealer's cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<br>

Player's cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>
  What would you like to do?
  <%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
</p>

<form id="hit" action="/game/player/hit" method="POST">
  <input type="submit" value="Hit" class="btn btn-large btn-warning">
</form>
<form id="stay" action="/game/player/stay" method="POST">
  <input type="submit" value="Stay" class="btn btn-success btn-large">
</form>
